<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <import resource="applicationContext-mail.xml"/>
    <context:component-scan base-package="cn.itrip.auth.service"/>
    <context:annotation-config />
    <context:property-placeholder location="classpath:sms.properties"/>
    <bean name="systemConfig" class="cn.itrip.common.SystemConfig">
        <property name="smsAccountSid" value="${sms.accountSid}" />
        <property name="smsAuthToken" value="${sms.authToken}" />
        <property name="smsAppID" value="${sms.appID}" />
        <property name="smsServerIP" value="${sms.serverIP}" />
        <property name="smsServerPort" value="${sms.serverPort}" />
    </bean>
    <bean id="DataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/itripdb"/>
        <property name="username" value="root"/>
        <property name="password" value="123"/>
    </bean>
    <bean id="FactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="DataSource"/>
<!--        <property name="mapperLocations">-->
<!--            <list><value></value></list>-->
<!--        </property>-->
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="dao"/>
    </bean>
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property  name="maxActive"  value="300" />
        <property  name="maxIdle"   value="100" />
        <property  name="maxWait"  value="1000" />
        <property  name="testOnBorrow"  value="true" />
    </bean>
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy" >
        <constructor-arg ref="jedisPoolConfig"/>
        <constructor-arg value="127.0.0.1"/>
        <constructor-arg value="6379"/>
        <constructor-arg value="3000"/>
        <constructor-arg value="123"/>
        <constructor-arg value="0"/>
    </bean>
    <bean id="redisAPI" class="cn.itrip.common.RedisAPI">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>
    <bean id="validationToken" class="cn.itrip.common.ValidationToken">
        <property name="redisAPI" ref="redisAPI" />
    </bean>
</beans>